span{
    padding:50px;
    margin:30px;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}
